<!DOCTYPE html>
<html>
<head>
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {{ if .IsHome }}
        <h1>{{ .Title }}</h1>
        <main>
            {{ .Content }}
        </main>
    {{ else if .IsPage }}
        <main>
            <h1>{{ .Title }}</h1>
            {{ .Content }}
        </main>
    {{ else }}
        <h1>{{ .Title }}</h1>
        {{ range .Pages }}
        <div class="card">
            {{ if .Params.photo }}
                <img src="{{ .Params.photo }}" alt="{{ .Params.name }}">
            {{ end }}
            <h2>{{ .Params.name }}</h2>
            <p>{{ .Params.designation }}</p>
            <p>বিষয়: {{ .Params.subject }}</p>
            <div>{{ .Content }}</div>
        </div>
        {{ end }}
    {{ end }}
</body>
</html>
